*.txt
*.csv
*.xlsx
*.xls
*.pptx
203675
203675_예선
초기 데이터
data
*.zip
chromedriver
*.cpg
*.dbf
*.prj
*.shp
*.shx
smy_data
tl_emd_seoul_4326
*.docx
lanmark_dataset
open_data
modeling_folder
데이콘 객체인식 - 캐글노트북참조.zip
제출폴더
jeju_data_ver1
covid_data
catboost_info
submission
data

